.categoryproductsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;


    & > .main {
        // background-color: red;
        width: 100%;
        display: flex;

        & > .filter {
            width: 20%;

            & > .card {
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100px;
            }
        }

        & > .products {
            // background-color: green;
            width: 80%;
            padding: 20px 20px;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(175px, 185px));
            gap: 20px;
            
            // justify-content: center;

            & > .product {
                // background-color: #EEEEEE55;
                background-color: #FFFFFF;
                
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                // align-items: center;
                transition: all 100ms;
                width: 175px;

                & > .title {
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                & > .price {
                    font-weight: 700;
                    font-size: 18px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                & > img {
                    width: 100%;
                    border-radius: 10px;
                }

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    transition: all 100ms;
                }

            }
        }

        @media (max-width: 768px) {
            flex-direction: column;

            & > .filter {
                width: 100%;
                height: 100%;
                top: 0;
                position: fixed;
                
                z-index: 100;
                background-color: #00000099;
                display: none;
                justify-content: center;
                align-items: center;
                
                & > .card {
                    width: 95%;
                    height: 90%;
                }
            }

            & > .products {
                width: 100%;
            }
        }
    }
    
    & > .pagination {
        display: flex;
        align-items: center;
        width: 100%;

        & > p {
            font-size: 15px;
            font-weight: 700;
        }

        & > button {
            background-color: #000000;
            border: solid 1px #000000;
            color: #FFFFFF;
            padding: 7px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 16px;
            transition: background-color 200ms;
            text-transform: uppercase;

            &:disabled {
                background-color: #00000033;
                border: solid 1px #00000033;
                color: #FFFFFF;
                padding: 10px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 14px;
                transition: background-color 200ms;
                text-transform: uppercase;
                
                &:hover {
                    cursor: not-allowed;
                    background-color: #00000033;
                    color: #FFFFFF;
                    transition: background-color 200ms;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: transparent;
                color: black;
                transition: background-color 200ms;

            }
        }
    }
}