@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.category-menu {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 10px;
  z-index: 1;
  position: relative;
  pointer-events: auto;
  width: 180px;
  left: -160px;
  transition: left 0.5s;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;

  &.open {
    left: 0;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: #7a7350;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ada933;
    }

    span {
      height: 3px;
      width: 25px;
      background-color: #ffffff;
      margin-bottom: 6px;
      display: block;
      transition: background-color 0.3s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section {
    padding-top: 10px;
    margin-bottom: 20px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #f0f0f0;
    }

    &:hover {
      background-color: #ada933;
    }

    &:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 3px;
      background-color: #e0d6a8;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &.active:before {
      opacity: 1;
    }

    .title {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .category {
      color: #323334;
      text-transform: capitalize;
      margin-top: 5px;
      font-weight: 700;
      display: none;
    }

    .sub-categories {
      margin-top: 10px;
      display: none;
      flex-direction: column;

      div {
        color: #323334;
        text-transform: capitalize;
        margin-top: 5px;
      }
    }

    &.active {
      .category {
        display: block;
      }
    }

    &.active .category.active + .sub-categories {
      display: block;
      margin-top: 10px;
    }

    .color-categories {
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;

      &.visible {
        display: flex;
      }

      .color-option {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .price-ranges {
      display: none;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 5px;

      &.visible {
        display: flex;

        .price-range {
          margin-top: 5px;

          .price-input-container {
            display: flex;
            align-items: center;

            label {
              margin-right: 8px;
            }

            .input {
              width: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .category-menu {
      width: 100%;
      left: -100%;
    }
  
    .category-menu.open {
      left: 0;
    }
  
    .category-list {
      padding-left: 0;
    }
  }
}
