$primary-color: #7A7350;
$background-color: #323334;
$text-color: #ffffff;

body, html {
  margin: 0;
  padding: 0;
}

.row-footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // position: relative;
  background-color: $background-color;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

  .pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px;

  .icon-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 15px;

    svg {
      fill: $text-color;
      transition: fill 0.3s;
      width: 70px;
      height: 20px;

      &:hover {
        fill: $primary-color;
      }
    }
  }

  @media (max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;

  h5 {
    color: $primary-color;
    font-size: 18px;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: $text-color;
        transition: color 0.3s;
        padding: 20;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.contact {
  max-width: 100%;
  margin-bottom: 30px;

  h5 {
    color: $primary-color;
    font-size: 18px;
    margin-bottom: 15px;
  }

  address {
    color: $text-color;

    span {
      margin-top: 5px;
    }
  }

  @media (max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.subscribe {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
  margin-right: 10px;

  form {
    h5 {
      color: $primary-color;
      font-size: 18px;
      margin-bottom: 15px;
    }

    p {
      color: $text-color;
      margin-bottom: 20px;
    }

    .newsletter {
      display: flex;

      input {
        flex: 1;
        padding: 8px;
        margin-top: 0;
        margin-right: 10px;

        @media (max-width: 768px) {
          margin-bottom: 2px;
          margin-right: 0px;
        }

        border: 1px solid #ced4da;
        border-radius: 4px;
      }

      button {
        background-color: $primary-color;
        color: $text-color;
        padding: 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.copiright {
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: $background-color;

  p {
    color: $text-color;
  }
}

@media (min-width: 768px) {
  .footer {
    .row-footer {
      flex-wrap: nowrap;
    }
  }
}
