@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.login-container {
    background-color: #F5F5F5;
    box-shadow: inset;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 150px;
    font-family: "Lato", sans-serif;
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input[type="email"],
    input[type="password"] {
      width: 95%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
    margin-left: 75px;
  
    &:hover {
      box-shadow: 0 0 #333;
      color: #fff;
      background-color: #333;
    }
  }  
}
