@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
  
    li {
      margin-right: 10px;
  
      &:last-child {
        margin-right: 0;
      }
  
      button {
        display: block;
        padding: 8px 12px;
        color: #000 solid;
        text-decoration: solid;
        border-radius: 10px ;
        transition: background-color 0.3s;
        cursor: pointer;
      }
  
      &.active button {
        background-color: #E0D6A8;
      }
    }
  }
